//- main.jade
extends ./layout.jade
block head
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/style.css">

block row-content
  div.row
    div.col-lg-6
      h2 Trying React.js
      div.well
        <section id="react-app">!{markup}</div>
        <script id="initial-state" type="application/json">!{state}</script>

<script src="https://cdn.socket.io/socket.io-1.1.0.js"></script>
<script src="js/bundle.js"></script>
