//- status.jade
extends ./layout.jade
head
  block title
    title Status Check
  block head
    <script src="http://d3js.org/d3.v3.min.js"></script>



body
  block row-content
    if error
      div.well
        div.form-group.row
          div.col-lg-12
            p(style="font-weight:bold;color:red;") Error: #{error}
    else
      div.row
        div.col-lg-12
          h2 Some Graphs
          h2(style="text-align:center") Hashtags
          div.placeholder#placeholder(style="width:960px;height:960px;margin:0px auto")
          <script src="js/hashtagcloud.js"></script>


      div.row
        div.col-lg-12
          h2 Document Count
          if count
            div.well
              div.form-group.row
                div.col-lg-12
                  p
                    b #{count}
                div.col-lg-12
                  p
                    b #{lasttimestamp}
