/* style.css
 * This file provides css styles.
 */

 /*
 * Base structure
 */

 /* Move down content because we have a fixed navbar that is 50px tall */
 body {
   padding-top: 50px;
 }


 /*
 * Global add-ons
 */

 .sub-header {
   padding-bottom: 10px;
   border-bottom: 1px solid #eee;
 }

 /*
 * Top navigation
 * Hide default border to remove 1px line.
 */
 .navbar-fixed-top {
   border: 0;
 }

 /*
 * Sidebar
 */

 /* Hide for mobile, show later */
 .sidebar {
   display: none;
 }
 @media (min-width: 768px) {
   .sidebar {
     position: fixed;
     top: 51px;
     bottom: 0;
     left: 0;
     z-index: 1000;
     display: block;
     padding: 20px;
     overflow-x: hidden;
     overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
     background-color: #f5f5f5;
     border-right: 1px solid #eee;
   }
 }

 /* Sidebar navigation */
 .nav-sidebar {
   margin-right: -21px; /* 20px padding + 1px border */
   margin-bottom: 20px;
   margin-left: -20px;
 }
 .nav-sidebar > li > a {
   padding-right: 20px;
   padding-left: 20px;
 }
 .nav-sidebar > .active > a,
 .nav-sidebar > .active > a:hover,
 .nav-sidebar > .active > a:focus {
   color: #fff;
   background-color: #428bca;
 }


 /*
 * Main content
 */

 .main {
   padding: 20px;
 }
 @media (min-width: 768px) {
   .main {
     padding-right: 40px;
     padding-left: 40px;
   }
 }
 .main .page-header {
   margin-top: 0;
 }


 /*
 * Placeholder dashboard ideas
 */

 .placeholders {
   margin-bottom: 30px;
   text-align: center;
 }
 .placeholders h4 {
   margin-bottom: 0;
 }
 .placeholder {
   margin-bottom: 20px;
 }
 .placeholder img {
   display: inline-block;
   border-radius: 50%;
 }





.avatar {
  border-bottom-color: rgb(136, 153, 166);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(136, 153, 166);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(136, 153, 166);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(136, 153, 166);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-style: none;
  border-top-width: 0px;
  color: rgb(136, 153, 166);
  cursor: auto;
  display: block;
  float: left;
  font-family: Arial, sans-serif;
  font-size: 14px;
  height: 48px;
  line-height: 18px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-left: 3px;
  margin-right: 10px;
  margin-top: 3px;
  text-align: start;
  width: 48px;
}

.tweetBody {
  -webkit-locale: en;
  color: rgb(41, 47, 51);
  cursor: pointer;
  display: block;
  font-family: Arial, sans-serif;
  font-size: 14px;
  /* height: 36px; */
  line-height: 18px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  text-align: start;
  white-space: pre-wrap;
  width: 99%;
  word-wrap: break-word;
}

.tweet {
  border-bottom-color: rgb(225, 232, 237);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: rgb(41, 47, 51);
  cursor: pointer;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 14px;
  /* height: 66px; */
  line-height: 18px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  min-height: 51px;
  padding-bottom: 9px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 9px;
  position: relative;
  text-align: start;
  width: 100%;
}
